html
    meta(charset="UTF-8")
    title Leodroid Studio v1.0
    link(href='style.css', rel='stylesheet')
body
    h1 Leodroid Studio v1.0
    div.container-fluid 
        div.row
            div#tree.col-xs-4
            div#editor.col-xs-8