html
    meta(charset='UTF-8', name='viewport', content='width=device-width, initial-scale=1')
    title Emulator v1.0
    link(rel='stylesheet', href='style.css')
body
    div.container
        div.row
            form
                div.col-xs-12
                    div.alert
                        div.input-group
                            input.form-control(type=type)#sayTextBox
                            span.input-group-btn
                                button.btn.btn-primary(type='reset')#sayButton Say! C:
    script(type='text/javascript' src='bundle.js')
    